@media screen and (min-width: 992px) {
.page {
    width: 900px;
    margin: auto;
}

    .about-me {
        display: inline-block;
        position: relative;
        width: 37vw;
        
        top: 10vh;
        left: 20vw;
    }

        .headshot {
            width: 40%;
            height: auto;
            border: ridge 3px var(--color-window-gray);
        }

        .small-text {
            width: 40%;
        }

        .paragraph {
            width: 80%;
        }

    .toro {
        display: inline-block;
        position: relative;

        height: 50px;
        width: auto;
    }

    .file-explorer{
        display: inline-block;
        position: relative;
        width: 37vw;
        
        top: 10vh;
        left: 20vw;
    }

    .webring-box {
        display: inline-block;
        position: relative;

        width: 37vw;
        width: 10vw;
        height: 10vw;
        background-color: var(--color-window-blue-light);
    }
}