.page {
    width: 72vw;
    height: 90vh;
    margin: 5vh auto;
    display: grid;
    grid-template-columns: [about-end] 50% auto;
    grid-template-rows: [about-end] auto;
}

.toro {
    height: 50px;
    width: auto;
}