/* LARGE DISPLAYS =============================================== */
@media screen and (min-width: 992px) {
.page {
    position: relative;
    width: 950px;
    margin: auto;
}

    .about-me {
        display: inline-block;
        position: absolute;
        width: 45%;
        top: 10vh;
    }

    .toro {
        display: inline-block;
        position: absolute;
        height: auto;
        width: 18%;
        right: 16%;
        top: 6vh;
    }

    .file-explorer{
        display: inline-block;
        position: absolute;
        width: 50%;
        top: 6vh;
        right: 0;
        margin-top: 16.5%;
    }

    .webring-box {
        display: inline-block;
        position: absolute;

        width: 37vw;
        width: 10vw;
        height: 10vw;
        background-color: var(--color-window-blue-light);
    }
}

/* CONSTANTS ===================================================== */

.headshot {
    width: 35%;
    border: ridge 3px var(--color-window-gray);
}

.small-text {
    text-align: center;
    white-space: pre-line;
    width: 65%;
    padding: 3%;
}

.paragraph {
    white-space: pre-line;
    width: 100%;
    padding: 2% 3% 3% 3%;
}