@import "fonts.css";
@import "device-sm.css";
@import "device-med-large.css";
@import "window.css";


:root {
    --color-text: black;
    --color-title: white;
    --color-window-gray: #C0BFC0;
    --color-window-light-gray: #e6e6e6;
    --color-window-blue-dark: #0545B4;
    --color-window-blue-light: #47A8D1;
}

*{
    box-sizing: border-box;
}

body {
    /* /* font-family: var(--text-font);
    color: var(--color-text);  */
    
    margin: 0;
    overflow-y: scroll;
}

/* TEXT ==================================================== */
h2 {
    color: white;
    font-family: 'Jersey 10';
    font-size: 17px;
    font-weight: lighter;
    text-shadow: black 2px 1px;
}

p {
    margin: 0;
    font-family: 'DotGothic16';
    font-weight: bold;
    font-size: 12px;
}