.window-container {
    height: fit-content;
    background-color: var(--color-window-gray);
    border-style: outset;
    border-color: var(--color-window-gray-light) var(--color-window-gray) var(--color-window-gray) var(--color-window-gray-light);
    border-width: 2px;
    padding-bottom: 3px;
}

/* title bar */

.window-titleBar {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.window-titleBar:after {
    display: inline-block;
    width: 100%;
    height: 6px;
    background-color: var(--color-window-gray);
    content: '';
}

/* title and content borders */
.window-title, .window-content {
    border-style: inset;
    border-color: var(--color-window-gray) var(--color-window-gray-light) var(--color-window-gray-light) var(--color-window-gray);
    border-width: 2px;
}

/* title  */
.window-title {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0 1%;
width: 100%;
height: 23px;
margin: 0;
background-image: linear-gradient(to right, var(--color-window-blue-dark), var(--color-window-blue-light));

}

.window-title::after {
    content: '';
    display: inline-block;
    height: 15px;
    width: 48px;
    margin: auto 0 auto auto;
    background-image: url('/assets/window/icons.png');
    background-size: auto 100%;
    background-position: right center;
    background-repeat: no-repeat;
}

/* content */
.window-content {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    background-color: white;
    padding: 1%;
}

    
