@import "tailwindcss";

@layer base {
    /* HTML BODY grow to fill */
    html, body {
        @apply h-full bg-(--dark-2);
    }
    
    /* STYLE h2 - Header, Footer */
    h2 {
      @apply font-(family-name:--font-luxrom) font-bold text-2xl bg-radial from-(--light) to-(--med-light) to-(--light) bg-clip-text text-transparent;
      text-shadow: 0 0 10px var(--med);
    }
    
    p {
      @apply text-(--light);
    }

    div#page {
        background-size: 100% auto;
    }
}

/* THEME */
@theme {
  --dark-2: rgb(38, 45, 82);
  --med: rgb(0, 91, 132);
  --med-light: rgb(95, 151, 189);
  --light: rgb(251, 252, 253);
  
  /* font-family: "Luxurious Roman", serif; */
  --font-luxrom: "Luxurious Roman", serif;
  --font-imfellsc: "IM Fell English SC", serif;

  --branch-sz: 100% auto;
} 

