@import "/a-v-novikov.github.io/css/fonts.css";
@import "/a-v-novikov.github.io/css/device-sm.css";
@import "/a-v-novikov.github.io/css/device-med-large.css";
@import "/a-v-novikov.github.io/css/window.css";


:root {
    --color-text: black;
    --color-title: white;
    --color-window-gray: #C0BFC0;
    --color-window-blue: #000099;
}

*{
    box-sizing: border-box;
}

body {
    /* font-family: var(--text-font);
    color: var(--color-text); */

    background-image: url('/assets/background/cyber-railroad.png');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: repeat-x;
    
    margin: 0;
    overflow-y: scroll;
}

